<div class='left-menu-container {{(isExpanded$ | async) ? "opened-menu" : "closed-menu"}}'>

  <div class="main-content">
    <div class="logo">
        <div class="logo-text" (click)="toggleSidebar()">
          <span>{{!(isExpanded$ | async) ? 'SC' : 'SHOP.CO'}}</span>
        </div>
        <div class='close-button {{!(isExpanded$ | async) ? "hidden-display-none" : ""}}' (click)="toggleSidebar()"></div>
    </div>

    <div class='logo-tabs-separator line'></div>

    <div class="tabs noselectable-text">
      <ul>
        @for (item of sidebarItems; track item.id)
        {
          <li (click)="onItemClick(item)" class='tab-item {{item.type}} {{ isItemActive(item) ? "active-tab" : ""}}'>
            <div style='{{isItemActive(item) ? "" : "display: none;" }}' class='{{ isItemActive(item) ?  "active-check" : ""}}'></div>

            <div class="tab-icon">
              <img [src]="item.icon"/>
            </div>
            <div class="tab-name">
              <label class='{{!(isExpanded$ | async) ? "hide-text" : "show-text"}}'>{{ item.label }}</label>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class='open-button {{(isExpanded$ | async) ? "hidden-display-none" : ""}}' (click)="toggleSidebar()"></div>
</div>
