<div class="home-page-wrapper">
  <app-start/>
  <app-brands [brands]="MOCK_BRANDS"/>

  <div class="products-wrapper">
    @if (newArrivalsError$ | async) {
      <div class="error-section">Failed to load new arrivals</div>
    } @else {
      <app-product-list
        [headerText]="'NEW ARRIVALS'"
        [products]="(newArrivals$ | async)!"
        [isScrollable]="true"
        [isLoading]="(newArrivalsLoading$ | async) || false"
      />
    }

    <div class="separator-wrapper">
      <div class="separator"></div>
    </div>

    @if (topSellingError$ | async) {
      <div class="error-section">Failed to load top selling products</div>
    } @else {
      <app-product-list
        [headerText]="'TOP SELLING'"
        [products]="(topSellingProducts$ | async)!"
        [isScrollable]="true"
        [isLoading]="(topSellingLoading$ | async) || false"
      />
    }
  </div>
  <app-styles [styles]="MOCK_STYLES"/>

  @if (topRatingReviewsLoading$ | async) {
    <div class="loading-section">
      <app-dots-loader
        color="#000000"
        [size]="8"
        [animationDuration]="1.0"/>
    </div>
  } @else if (topRatingReviewsError$ | async) {
    <div class="error-section">Failed to load customer reviews</div>
  } @else {
    <app-customer-reviews [reviews]="(topRatingReviews$ | async)!"/>
  }
</div>
