.product-card {
    cursor: pointer;
    width: 294px;
    font-size: 24px;
}

.image-container {
    width: 294px;
    height: 294px;
    background-color: #F0EEED;
    border-radius: 20px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.title {
    font-family: 'Satoshi Bold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640px) {
    .product-card {
        width: 172px;
        font-size: 16px;
    }

    .image-container {
        width: 172px;
        height: 172px;
    }

    .title {
        font-size: 16px;
    }
}
