<div class="form-input">
  <label class="form-input__label" [for]="'input-' + label">
    {{ label }}
    @if (required) {
      <span class="required">*</span>
    }
  </label>
  
  <input
    [id]="'input-' + label"
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    class="form-input__field"
    [class.form-input__field--error]="error"
    [class.form-input__field--disabled]="disabled">
  
  @if (error) {
    <div class="form-input__error">{{ error }}</div>
  }
</div>
