<div class="header-section-wrapper">
  <div class="header-block-container">
    <div class="sidebar-toggle-wrapper">
      <div class="mobile-logo" (click)="onSidebarToggle()">SC</div>
    </div>

    <div class="theme-selector-wrapper">
      <bch-select
        [options]="themeOptions"
        [optionLabelFn]="optionLabel"
        [optionValueFn]="optionValue"
        [defaultValue]="selectedTheme"
        [defaultText]="'Theme...'"
        [width]="'100px'"
        [height]="40"
        (selectItem)="onThemeChange($event)">
      </bch-select>
    </div>

    <div class="user-actions-wrapper">
      <button class="login-btn" (click)="onLoginClick()">
        <span class="login-icon"></span>
        <span class="login-text">Login</span>
      </button>
    </div>
  </div>
</div>
