<div class="slider-wrapper">
  <div class="slider-track">

    @if (mode === 'range') {
      <div
        class="slider-range"
        [ngStyle]="{
          left: getPercentage(valueRange[0]) + '%',
          width: (getPercentage(valueRange[1]) - getPercentage(valueRange[0])) + '%'
        }"
      ></div>
    }
    @else if (mode === 'single') {
      <div
        class="slider-range"
        [ngStyle]="{
          width: getPercentage(value) + '%'
        }"
      ></div>
    }

    @if (mode === 'single') {
      <input
        type="range"
        [min]="min"
        [max]="max"
        [step]="step"
        [(ngModel)]="value"
        (input)="onValueChange($event)"
      />
    }

    @if (mode === 'range') {
      <input
        type="range"
        [min]="min"
        [max]="max"
        [step]="step"
        [value]="valueRange[0]"
        (input)="onRangeChange(0, $event)"
      />
      <input
        type="range"
        [min]="min"
        [max]="max"
        [step]="step"
        [value]="valueRange[1]"
        (input)="onRangeChange(1, $event)"
      />
    }
  </div>

  @if (showValues) {
    <div class="slider-values">
      @if (mode === 'single') {
        <span>₴{{ value }}</span>
      }
      @if (mode === 'range') {
        <span>${{ valueRange[0] }} – ${{ valueRange[1] }}</span>
      }
    </div>
  }
</div>
