<div class="wrapper">
  @if(!isLoading) {
    <div class="list">
        @if (headerText) {
            <div class="header">{{ headerText }}</div>
        }
        <div class="content" [class.content--scrollable]="isScrollable">
            @for (product of products; track product.id) {
                <app-product
                    [product]="product"
                    (cardClick)="onProductClick($event)">
                </app-product>
            }
        </div>
        @if (showViewAllButton) {
            <div class="view-all">
                <button class="view-all-btn" (click)="onViewAllClick()">View All</button>
            </div>
        }
    </div>
  }
  @else {
    <div class="loading-indicator">
        <app-dots-loader
          color="#000000"
          [size]="10"
          [animationDuration]="1.0"/>
    </div>
  }
</div>
