@use 'shared/variables' as *;

.main-layout-container {
  display: flex;
  height: 100vh;
  background: var(--color-bg-page);
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
  background: var(--color-bg-page);
  color: var(--color-text-primary);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 50px;
  flex-shrink: 0;
}
