<div class="home-page-wrapper">
  <app-start/>
  <app-brands [brands]="MOCK_BRANDS"/>

  <div class="products-wrapper">
    @if (loading$ | async) {
      <div class="loading-spinner">
        <app-loading-spinner />
      </div>
    } @else {
      <app-product-list
        [headerText]="'NEW ARRIVALS'"
        [products]="(products$ | async)!"
        [isScrollable]="true"
      />
    }

    <div class="separator-wrapper">
      <div class="separator"></div>
    </div>

    @if (loading$ | async) {
      <div class="loading-spinner">
        <app-loading-spinner />
      </div>
    } @else {
      <app-product-list
        [headerText]="'TOP SELLING'"
        [products]="(products$ | async)!"
        [isScrollable]="true"
      />
    }
  </div>
  <app-styles [styles]="MOCK_STYLES"/>
  <app-customer-reviews [reviews]="MOCK_REVIEWS"/>
</div>
